<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted mt-1" style="color: white !important; background-color: #2c2c2c !important;">
    <!-- Section: Links  -->
    <!--  -->
  
    <!-- Copyright -->
    <div class="text-center mb-5 mt-4" style="background-color: #efefef !important; color: #0e385b !important; padding-left: 10% !important; padding-right: 10% !important;">
      <hr style="color: #4e4e4e !important; height: 1px !important;">
      © EPE EMB SPA
      <a class="text-reset fw-bold">&nbsp; - &nbsp; Direction Contrôle de Gestion</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->