{% extends 'main/base.html' %}

{% load static %}
{% load hum_money %}
{% load humanize %}
{% block head_title %}{{title}} {% endblock %}

{% block content %}

<div class="alert alert-warning alert-dismissible fade show align-items-center mb-4" role="alert" style="position:relative; top: -30px;">
    <div class="d-flex flex-row">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#6b6818" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
          </svg>
        <h4 class="mb-4 ml-3 align-self-end" style="font-weight: bolder !important;"><b>NOTE IMPORTANTE</b></h4>
    </div>
    <p class="mb-0 font-weight-bold">Veuillez noter que le fichier .xlsx concerné doit respecter la même structure des fichiers de capacités de production récents.</p>
</div>

{% if messages %}
<div id="div-msg" class="mt-2 pb-0 pt-0" style="position:relative; top: -35px;">
    {% for message in messages %}
    <div id="exist" class="alert alert-{{ message.tags }} alert-dismissible fade show align-items-center" role="alert">
        <p class="mb-0 msg h5"><b>{{ message }}</b></p>
        <button type="button" class="close align-items-center mb-0" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
</div>
{% endif %}

<form method="POST" enctype="multipart/form-data" action="{% url 'core:process-new-act' %}" class="form" style="position:relative; top: -30px;">
    {% csrf_token %}
    <div class="shadow p-3 mb-5 bg-white rounded w-100y">
        <h4 style="font-weight: bolder !important;"><b>AJOUTER UN NOUVEAU FICHIER ( Format .xlsx )</b></h4>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="pu" class="col-form-label"><b>Fichier des capacités de production</b></label>
                <input type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" class="form-control chg" name="file_pg" id="file_pg" />
            </div>
        </div>
    </div>
    <div class="d-flex flex-row justify-content-between">
        <button type="submit" id="submit-form" class="btn btn-lg ld-over" style="color: white !important; background-color: #0e385b !important;" disabled><b>TRAITER</b></button>
        <div class="ld ld-ring ld-spin"></div>
        <a href="{% url 'core:add-flash-imp-manual' %}" id="add_act_man" target="_blank" class="px-3 py-2 d-flex flex-row h5 justify-content-center align-items-center shadow" style="background-color: white; border-radius: 60px; transition: 0.5s; color: #303be9;">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
            </svg>
            <p class="mb-0 ml-2"><b>AJOUTER MANUELLEMENT</b></p>
        </a>
    </div>
</form>


<div id="loader" class="bg-modal d-flex justify-content-center align-items-center" style="display: none !important;">
    <!-- <div class="spinner-grow text-light" role="status" style="width: 10em !important; height: 10em !important;">
        <span id="spinner" class="sr-only">Loading...</span>
    </div> -->
    <div class="d-flex flex-column justify-content-center align-items-center">
        <p class="h3" style="color: white;">Veuillez patienter</p>
        <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
    </div> 
</div>


<script>

    $('form').on('submit', function(){
        console.log('submit');
        $('#loader').show();
        $('body').css('overflow-y', 'hidden');
    });

    $('.chg').on('change', function(){
        $('#exist').find('.msg').remove();
        $('#exist').hide();
        if($('#file_pg').val() == ''){
            $('#submit-form').prop('disabled', true);
        }
        else{
            $('#submit-form').prop('disabled', false);
        }
    });

    $('form').submit(function(e) {
        $(':disabled').each(function(e) {
            $(this).removeAttr('disabled');
        })
    });
  </script>

{% endblock content %}