{% extends 'main/base.html' %}

{% load static %}
{% load hum_money %}
{% load humanize %}
{% load i18n %}
{% block head_title %}{{title}} {% endblock %}

{% block content %}

{% if messages %}
<div id="div-msg" class="mt-2 pb-0 pt-0" style="position:relative; top: -35px;">
    {% for message in messages %}
    <div id="exist" class="alert alert-{{ message.tags }} alert-dismissible fade show align-items-center" role="alert">
        <p class="mb-0 msg h5"><b>{{ message }}</b></p>
        <button type="button" class="close align-items-center mb-0" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
</div>
{% endif %}

<form method="POST" enctype="multipart/form-data" action="{% url 'core:process-new-tcr-man' %}" class="form" style="position:relative; top: -30px;">
    {% csrf_token %}
    <div class="row">
        <div class="col-3">
          <div class="list-group mb-4" id="list-tab" role="tablist">
            {% if mode == 'add' %}
                <a class="list-group-item list-group-item-action active py-4 h5 m-0" id="list-month" data-toggle="list" href="#month-form" role="tab" aria-controls="month"><b><span id="txt-unit">MOIS CONCERNÉ</span></b></a>
            {% endif %}
            <a class="list-group-item list-group-item-action {% if mode == 'edit' %} active {% endif %} py-4 h5 m-0" id="list-siege" data-toggle="list" href="#siege_form" role="tab" aria-controls="siege"><b>SIÈGE</b></a>
            <a class="list-group-item list-group-item-action py-4 h5 m-0" id="list-kdu" data-toggle="list" href="#kdu_form" role="tab" aria-controls="kdu"><b>Unité : KDU</b></a>
            <a class="list-group-item list-group-item-action py-4 h5 m-0" id="list-azdu" data-toggle="list" href="#azdu_form" role="tab" aria-controls="azdu"><b>Unité : AZDU</b></a>
            <a class="list-group-item list-group-item-action py-4 h5 m-0" id="list-skdu" data-toggle="list" href="#skdu_form" role="tab" aria-controls="skdu"><b>Unité : SKDU</b></a>
          </div>
        </div>
        <div class="col-9">
          <div class="tab-content" id="nav-tabContent">
            <input type="hidden" name='mode' value="{{mode}}">
            {% if mode == 'add' %}
            <!-- INFO GENERAL -->
            <div class="tab-pane fade show active" id="month-form" role="tabpanel" aria-labelledby="list-month">
                <div class="shadow p-3 mb-5 bg-white rounded">
                    <div class="form-row d-flex justify-content-center align-items-center m-5">
                        <select class="custom-select col-3 mr-4" style="font-size:2rem;" name="month" id="month">
                            <option style="font-size: 1rem;" value="--" selected disabled hidden>Mois</option>
                            {% language 'fr' %}
                            {% for month in 13|times %}
                            <option style="font-size: 1rem;" value="{{month}}" class="py-2">{{month|month_name}}</option>
                            {% endfor %}
                            {% endlanguage %}
                        </select>
                        <select class="custom-select col-2 mr-4" style="font-size:2rem;" name="year" id="year">
                            <option style="font-size: 1rem;" value="--" selected disabled hidden>Année</option>
                            {% for year in years %}
                            <option style="font-size: 1rem;" value="{{year}}" >{{year}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            {% else %}
            <input type="hidden" name="month" value="{{month}}">
            <input type="hidden" name="year" value="{{year}}">
            {% endif %}
            {% for unit in units %}
            <input type="hidden" name="id" {% if mode == 'edit' %} value="{{qs|get_unit_qs:unit|get_field:'id'}}" disabled {% else %} value="0" {% endif %}>
            <input type="hidden" name="unite" value="{{unit}}">
            <div class="tab-pane fade {% if mode == 'edit' and unit == 'SIEGE' %} show active {% endif %}" id="{{unit|lower}}_form" role="tabpanel" aria-labelledby="list-{{unit|lower}}">
                <div id="list-{{unit|lower}}-container">
                    <div class="shadow p-3 mb-5 bg-white rounded prod-case">
                        <div class="row">
                            <h4 class="col-6" style="font-weight: bolder !important;"><b>UNITÉ : {{unit}}</b></h4>
                            {% if mode == 'edit' %}
                            <!-- LOCK FORM -->
                            <div class="d-flex col-6">
                                <div class="form-group ml-auto mt-2">
                                    <input type="checkbox" class="form-check-input align-self-center mt-2" id="locked" checked>
                                    <label class="form-check-label h3 mr-3 mb-0 align-self-center" for="locked"><b>LOCKED</b></label>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-lock-fill align-self-center mb-2" viewBox="0 0 16 16">
                                        <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
                                    </svg>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        <h5 style="font-weight: bolder !important; color: #484fb2;" class="mt-3"><b>PRODUCTION DE L'EXERCICE</b></h5>
                        <hr class="my-0" style="color: #484fb2;">
                        <!-- PROD EXERC -->
                        <div class="form-row">
                            <div class="form-group col-md">
                                <label for="ca" class="col-form-label"><b>Chiffre d'affaire</b></label>
                                <input type="number" step="0.001" class="form-control number-separator" name="ca" id="ca" {% if mode == 'edit' %} value="{{qs|get_unit_qs:unit|get_field:'ca'}}" disabled {% else %} value="0" {% endif %} placeholder="Chiffre d'affaire" required>
                            </div>
                            <div class="form-group col-md">
                                <label for="cessions_et_produits" class="col-form-label"><b>Cessions et produits</b></label>
                                <input type="number" step="0.001" class="form-control" name="cessions_et_produits" {% if mode == 'edit' %} value="{{qs|get_unit_qs:unit|get_field:'cessions_et_produits'}}" disabled {% else %} value="0" {% endif %} id="cessions_et_produits" placeholder="Cessions et produits" required>
                            </div>
                            <div class="form-group col-md">
                                <label for="var_stock_fini_encours" class="col-form-label"><b>Variation stocks prod. finis / en cours</b></label>
                                <input type="number" step="0.001" class="form-control" name="var_stock_fini_encours" id="var_stock_fini_encours" {% if mode == 'edit' %} value="{{qs|get_unit_qs:unit|get_field:'var_stock_fini_encours'}}" disabled {% else %} value="0" {% endif %} placeholder="Variation stocks produits finis et en cours" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md">
                                <label for="prod_immob" class="col-form-label"><b>Production immobilisée</b></label>
                                <input type="number" step="0.001" class="form-control" name="prod_immob" id="prod_immob" {% if mode == 'edit' %} value="{{qs|get_unit_qs:unit|get_field:'prod_immob'}}" disabled {% else %} value="0" {% endif %} placeholder="Production immobilisée" required>
                            </div>
                            <div class="form-group col-md">
                                <label for="subv_expl" class="col-form-label"><b>Subvention d'exploitation</b></label>
                                <input type="number" step="0.001" class="form-control" name="subv_expl" id="subv_expl" {% if mode == 'edit' %} value="{{qs|get_unit_qs:unit|get_field:'subv_expl'}}" disabled {% else %} value="0" {% endif %} placeholder="Subvention d'exploitation" required>
                            </div>
                        </div>
                        <h5 style="font-weight: bolder !important; color: #484fb2;" class="mt-3"><b>CONSOMMATIONS DE L'EXERCICE</b></h5>
                        <hr class="my-0" style="color: #484fb2;">
                        <!-- CONSOMM EXERC -->
                        <div class="form-row">
                            <div class="form-group col-md">
                                <label for="achats_consom" class="col-form-label"><b>Achats consommés</b></label>
                                <input type="number" step="0.001" class="form-control" name="achats_consom" id="achats_consom" {% if mode == 'edit' %} value="{{qs|get_unit_qs:unit|get_field:'achats_consom'}}" disabled {% else %} value="0" {% endif %} placeholder="Achats consommés" required>
                            </div>
                            <div class="form-group col-md">
                                <label for="serv_ext_other_consom" class="col-form-label"><b>Services ext. et Autres consommation</b></label>
                                <input type="number" step="0.001" class="form-control" name="serv_ext_other_consom" id="serv_ext_other_consom" {% if mode == 'edit' %} value="{{qs|get_unit_qs:unit|get_field:'serv_ext_other_consom'}}" disabled {% else %} value="0" {% endif %} placeholder="Services extérieurs et Autres consommation" required>
                            </div>
                            <div class="form-group col-md">
                                <label for="consom_inter_unit" class="col-form-label"><b>Consommation inter-unités</b></label>
                                <input type="number" step="0.001" class="form-control" name="consom_inter_unit" id="consom_inter_unit" {% if mode == 'edit' %} value="{{qs|get_unit_qs:unit|get_field:'consom_inter_unit'}}" disabled {% else %} value="0" {% endif %} placeholder="Consommation inter-unités" required>
                            </div>
                        </div>
                        <h5 style="font-weight: bolder !important; color: #484fb2;" class="mt-3"><b>EXCEDENT BRUT D'EXPLOITATION</b></h5>
                        <hr class="my-0" style="color: #484fb2;">
                        <!--  EXCEDENT BRUT D'EXPLOITATION -->
                        <div class="form-row">
                            <div class="form-group col-md">
                                <label for="charge_pers" class="col-form-label"><b>Charges de personnel</b></label>
                                <input type="number" step="0.001" class="form-control" name="charge_pers" id="charge_pers" {% if mode == 'edit' %} value="{{qs|get_unit_qs:unit|get_field:'charge_pers'}}" disabled {% else %} value="0" {% endif %} placeholder="Charges de personnel" required>
                            </div>
                            <div class="form-group col-md">
                                <label for="impot_tax_vers_ass" class="col-form-label"><b>Impôts, taxes et versements assimiles</b></label>
                                <input type="number" step="0.001" class="form-control" name="impot_tax_vers_ass" id="impot_tax_vers_ass" {% if mode == 'edit' %} value="{{qs|get_unit_qs:unit|get_field:'impot_tax_vers_ass'}}" disabled {% else %} value="0" {% endif %} placeholder="Impôts, taxes et versements assimiles" required>
                            </div>
                        </div>
                        <h5 style="font-weight: bolder !important; color: #484fb2;" class="mt-3"><b>RESULTAT OPERATIONNEL</b></h5>
                        <hr class="my-0" style="color: #484fb2;">
                        <!--  RESULTAT OPERATIONNEL -->
                        <div class="form-row">
                            <div class="form-group col-md">
                                <label for="other_prod_op" class="col-form-label"><b>Autres produits opérationnels</b></label>
                                <input type="number" step="0.001" class="form-control" name="other_prod_op" id="other_prod_op" {% if mode == 'edit' %} value="{{qs|get_unit_qs:unit|get_field:'other_prod_op'}}" disabled {% else %} value="0" {% endif %} placeholder="Autres produits opérationnels" required>
                            </div>
                            <div class="form-group col-md">
                                <label for="other_charge_op" class="col-form-label"><b>Autres charges opérat.</b></label>
                                <input type="number" step="0.001" class="form-control" name="other_charge_op" id="other_charge_op" {% if mode == 'edit' %} value="{{qs|get_unit_qs:unit|get_field:'other_charge_op'}}" disabled {% else %} value="0" {% endif %} placeholder="Autres charges opérationnelles" required>
                            </div>
                            <div class="form-group col-md">
                                <label for="prod_inter_unit" class="col-form-label"><b>Produits inter unités</b></label>
                                <input type="number" step="0.001" class="form-control" name="prod_inter_unit" id="prod_inter_unit" {% if mode == 'edit' %} value="{{qs|get_unit_qs:unit|get_field:'prod_inter_unit'}}" disabled {% else %} value="0" {% endif %} placeholder="Produits inter unités" required>
                            </div>
                            <div class="form-group col-md">
                                <label for="charge_inter_unit" class="col-form-label"><b>Charges inter unités</b></label>
                                <input type="number" step="0.001" class="form-control" name="charge_inter_unit" id="charge_inter_unit" {% if mode == 'edit' %} value="{{qs|get_unit_qs:unit|get_field:'charge_inter_unit'}}" disabled {% else %} value="0" {% endif %} placeholder="Charges inter unités" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md">
                                <label for="dot_amort_prov_pert_val" class="col-form-label"><b>Dotation aux amortissements, provisions et pertes de valeur </b></label>
                                <input type="number" step="0.001" class="form-control" name="dot_amort_prov_pert_val" id="dot_amort_prov_pert_val" {% if mode == 'edit' %} value="{{qs|get_unit_qs:unit|get_field:'dot_amort_prov_pert_val'}}" disabled {% else %} value="0" {% endif %} placeholder="Dotation aux amortissements, provisions et pertes de valeur " required>
                            </div>
                            <div class="form-group col-md">
                                <label for="repr_pert_val_prov" class="col-form-label"><b>Reprise sur pertes de valeur et provisions</b></label>
                                <input type="number" step="0.001" class="form-control" name="repr_pert_val_prov" id="repr_pert_val_prov" {% if mode == 'edit' %} value="{{qs|get_unit_qs:unit|get_field:'repr_pert_val_prov'}}" disabled {% else %} value="0" {% endif %} placeholder="Reprise sur pertes de valeur et provisions" required>
                            </div>
                        </div>
                        <h5 style="font-weight: bolder !important; color: #484fb2;" class="mt-3"><b>RESULTAT FINANCIER</b></h5>
                        <hr class="my-0" style="color: #484fb2;">
                        <!--  RESULTAT FINANCIER -->
                        <div class="form-row">
                            <div class="form-group col-md">
                                <label for="prod_fin" class="col-form-label"><b>Produits financiers</b></label>
                                <input type="number" step="0.001" class="form-control" name="prod_fin" id="prod_fin" {% if mode == 'edit' %} value="{{qs|get_unit_qs:unit|get_field:'prod_fin'}}" disabled {% else %} value="0" {% endif %} placeholder="Produits financiers" required>
                            </div>
                            <div class="form-group col-md">
                                <label for="charge_financ" class="col-form-label"><b>Charges financières</b></label>
                                <input type="number" step="0.001" class="form-control" name="charge_financ" id="charge_financ" {% if mode == 'edit' %} value="{{qs|get_unit_qs:unit|get_field:'charge_financ'}}" disabled {% else %} value="0" {% endif %} placeholder="Charges financières" required>
                            </div>
                        </div>
                        <h5 style="font-weight: bolder !important; color: #484fb2;" class="mt-3"><b>RESULTAT NET DES ACTIVITÉS ORDINAIRES</b></h5>
                        <hr class="my-0" style="color: #484fb2;">
                        <!--  RESULTAT FINANCIER -->
                        <div class="form-row">
                            <div class="form-group col-md">
                                <label for="impot_exig_res_ord" class="col-form-label"><b>Impôts exigibles sur résultats ordinaires</b></label>
                                <input type="number" step="0.001" class="form-control" name="impot_exig_res_ord" id="impot_exig_res_ord" {% if mode == 'edit' %} value="{{qs|get_unit_qs:unit|get_field:'impot_exig_res_ord'}}" disabled {% else %} value="0" {% endif %} placeholder="Impôts exigibles sur résultats ordinaires" required>
                            </div>
                            <div class="form-group col-md">
                                <label for="impot_diff_res_ord" class="col-form-label"><b>Impôts différés (variations) sur résultats ordinaires</b></label>
                                <input type="number" step="0.001" class="form-control" name="impot_diff_res_ord" id="impot_diff_res_ord" {% if mode == 'edit' %} value="{{qs|get_unit_qs:unit|get_field:'impot_diff_res_ord'}}" disabled {% else %} value="0" {% endif %} placeholder="Impôts différés (variations) sur résultats ordinaires" required>
                            </div>
                        </div>
                        <h5 style="font-weight: bolder !important; color: #484fb2;" class="mt-3"><b>RESULTAT EXTRAORDINAIRE</b></h5>
                        <hr class="my-0" style="color: #484fb2;">
                        <!--  RESULTAT EXTRAORDINAIRE -->
                        <div class="form-row">
                            <div class="form-group col-md">
                                <label for="elem_extraord_prod" class="col-form-label"><b>Eléments extraordinaire produits</b></label>
                                <input type="number" step="0.001" class="form-control" name="elem_extraord_prod" id="elem_extraord_prod" {% if mode == 'edit' %} value="{{qs|get_unit_qs:unit|get_field:'elem_extraord_prod'}}" disabled {% else %} value="0" {% endif %} placeholder="Eléments extraordinaire produits" required>
                            </div>
                            <div class="form-group col-md">
                                <label for="elem_extraord_charge" class="col-form-label"><b>Eléments extraordinaire charges</b></label>
                                <input type="number" step="0.001" class="form-control" name="elem_extraord_charge" id="elem_extraord_charge" {% if mode == 'edit' %} value="{{qs|get_unit_qs:unit|get_field:'elem_extraord_charge'}}" disabled {% else %} value="0" {% endif %} placeholder="Eléments extraordinaire charges" required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            
          </div>
        </div>
      </div>
      <div class="d-flex flex-row justify-content-center">
        <button id="submit-form" class="btn btn-lg ld-over" style="color: white !important; background-color: #0e385b !important; width: 20%;" {% if mode == 'edit' %} disabled {% endif %} ><b>
            {% if mode == 'edit' %}
            MODIFIER
            {% else %}
            AJOUTER
            {% endif %}
        </b></button>
    </div>
</form>


<div id="loader" class="bg-modal d-flex justify-content-center align-items-center" style="display: none !important;">
    <!-- <div class="spinner-grow text-light" role="status" style="width: 10em !important; height: 10em !important;">
        <span id="spinner" class="sr-only">Loading...</span>
    </div> -->
    <div class="d-flex flex-column justify-content-center align-items-center">
        <p class="h3" style="color: white;">Veuillez patienter</p>
        <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
    </div> 
</div>


<script>

    var putThousandsSeparators;

    putThousandsSeparators = function(value, sep) {
    if (sep == null) {
        sep = ',';
    }
    // check if it needs formatting
    if (value.toString() === value.toLocaleString()) {
        // split decimals
        var parts = value.toString().split('.')
        // format whole numbers
        parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, sep);
        // put them back together
        value = parts[1] ? parts.join('.') : parts[0];
    } else {
        value = value.toLocaleString('cs-CZ');
    }
    return value;
    };

    // $(document).ready(function(){
    //     $('.form-row > .form-group > input').each(function(){
    //         $(this).prop('type', 'text');
    //         $(this).val(putThousandsSeparators(parseFloat($(this).val())));
    //     })
    // })

    var cloneCount = 1;

    $('form').on('submit', function(){
        console.log('submit');
        $('#loader').show();
    });

    $('.chg').on('change', function(){
        var date = new Date($('#date').val())
        var unit = $('#unit').val()
        if(date != ''){
            m = date.getMonth() + 1
            console.log(m)
            if( m < 10){
                m = '0' + m
            }
            $('.txt-date').text(date.getDate() + '/' + m + '/' + date.getFullYear())
        }
        if(unit != ''){
            $('#txt-unit').text(unit)
        }
    });

    $('form').submit(function(e) {
        $(':disabled').each(function(e) {
            $(this).removeAttr('disabled');
        });
        $('.form-row > .form-group > input').val(function(index, value) {
            // console.log(value.replace(/\s/g, ''))
            return value.replace(/\s/g, '').replace(',', '.');
        });
        $('.form-row > .form-group > input').prop("type", "number"); 
    });


    var $cache = $('#list-tab');

    //store the initial position of the element
    var vTop = $cache.offset().top - parseFloat($cache.css('marginTop').replace(/auto/, 0)) - 100;
    $(window).scroll(function (event) {
        // what the y position of the scroll is
        var y = $(this).scrollTop();
        var col_3 = $cache.parent()
        var row = col_3.parent()
        var col_9 = col_3.siblings();
        var pad_val = parseFloat(col_3.css('padding-left')) * 2;

        // whether that's below the form
        if (y >= vTop) {
        // if so, ad the fixed class
        col_3.addClass('stuck');
        col_3.width(row.width() * .25-pad_val);
        col_9.addClass('offset-3');
        } else {
        // otherwise remove it
        col_3.removeClass('stuck');
        col_9.removeClass('offset-3');
        }
    });



    $('#locked').on('change', function(){
        var chk = $(this).is(':checked');
        if(!chk){
            $('.form-row > .form-group > input').prop('disabled', false);
            // $(':select').prop('disabled', false);
            $('#submit-form').prop('disabled', true);
            $('.form-row > .form-group > input').val(function(index, value) {
                // console.log(value.replace(/\s/g, ''))
                return value.replace(/\s/g, '').replace(',', '.');
            });
            $('.form-row > .form-group > input').prop("type", "number");
        }
        else{
            $('.form-row > .form-group > input').prop('disabled', true);
            $('.form-row > .form-group > input').each(function(){
                $(this).prop('type', 'text');
                $(this).val(putThousandsSeparators(parseFloat($(this).val())));
            })
            // $(':select').prop('disabled', true);
            $('#submit-form').prop('disabled', false);
        }
    });


  </script>

{% endblock content %}