{% extends 'main/base.html' %}

{% load static %}
{% load hum_money %}
{% load humanize %}
{% block head_title %}{{title}} {% endblock %}

{% block content %}

{% if messages %}
<div id="div-msg" class="mt-2 pb-0 pt-0">
    {% for message in messages %}
    <div id="exist" class="alert alert-{{ message.tags }} alert-dismissible fade show align-items-center" role="alert" style="position:relative; top: -30px;">
        <p class="mb-0 msg h5"><b>{{ message }}</b></p>
        <button type="button" class="close align-items-center mb-0" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
</div>
{% endif %}

<div class="mb-4" style="position:relative; top: -30px;">
    <div class="d-flex flex-row justify-content-between">
        <p class="h4">Utilisateur : <b>{{obj.user|get_username}}</b> </p>
        <p class="h4">Table concernée : <b>{{obj.tab}}</b> </p>
    </div>
    <div class="d-flex flex-row justify-content-between">
        <p class="h4">Date : <b>{{obj.dt|date:'d/m/Y - H:i'}}</b> </p>
        <p class="h4">Entrée concernée : <b>
            {% if obj.tab == 'TCR' %}
            <a target="_blank" class="ml-2 align-items-center">
                {{ obj_rel|get_tcr_info }}
            </a>
            {% else %}
            <a href="{{obj.get_line_url}}" target="_blank" class="ml-2 align-items-center">
                {{ obj.line_id }}
            </a>
            {% endif %}
        </b> </p>
    </div>
</div>

<table id="table-audit-cases" class="table table-bordered" style="position:relative; top: -30px;">
    <thead class="thead">
      <tr>
        <th class="py-3 align-middle" scope="col"><b>#</b></th>
        <th class="py-3 align-middle" scope="col"><b>Champ</b></th>
        {% if op == 'MODIFICATION' %}
        <th class="py-3 align-middle" scope="col"><b>Ancienne valeur</b></th>
        {% endif %}
        <th class="py-3 align-middle" scope="col"><b>Nouvelle valeur</b></th>
      </tr>
    </thead>
    <tbody id="tbody">
        {% for key, val in details.items %}
        <tr class="row_tab">
            <th class="py-3 align-middle" scope="row"><b class="font-weight-bold" >{{ forloop.counter }}</b></th>
            <td class="py-3 align-middle" scope="row"><b class="font-weight-bold" >{{ key }}</b></td>
            {% if op == 'MODIFICATION' %}
            <td class="py-3 align-middle" scope="row"><b class="font-weight-bold" >{{ val.0 }}</b></td>
            <td class="py-3 align-middle" scope="row"><b class="font-weight-bold" >{{ val.1 }}</b></td>
            {% else %}
            <td class="py-3 align-middle" scope="row"><b class="font-weight-bold" >{{ val }}</b></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock content %}