{% extends 'main/base.html' %}

{% load static %}
{% load hum_money %}
{% load humanize %}
{% block head_title %} {{req}} {% endblock %}
{% block content %}


{% if messages %}
<div id="div-msg" class="mt-2 pb-0 pt-0">
    {% for message in messages %}
    <div id="exist" class="alert alert-{{ message.tags }} alert-dismissible fade show align-items-center" role="alert">
        <p class="mb-0 msg">{{ message }}</p>
        <button type="button" class="close align-items-center mb-0" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
</div>
{% endif %}
<div class="d-flex flex-row" style="display: flex; justify-content: center; align-items: center; position: relative; top: -30px;">
    <p class="h5 mr-2 mb-0">FILTERS</p>
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-filter mr-4" viewBox="0 0 16 16">
        <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
    </svg>
    <form method="GET" action="{% url 'core:prod-view' %}" id="form" class="col-9 d-flex flex-row" style="display: flex; justify-content: center; align-items: center;">
        {% csrf_token %}
        <input type="date" id='date_filter' name="date" placeholder="Date" value="{{date|date:'Y-m-d'}}" class="form-control col-2 mr-4">
        <select class="custom-select col-2 mr-4" name="unit" id="unit">
            <option value="all" {% if unit == 'all' %} selected {% endif %} >Unité (All)</option>
            <option value="KDU" {% if unit == 'KDU' %} selected {% endif %} >KDU</option>
            <option value="AZDU" {% if unit == 'AZDU' %} selected {% endif %} >AZDU</option>
            <option value="SKDU" {% if unit == 'SKDU' %} selected {% endif %} >SKDU</option>
        </select>
        <select class="custom-select col-3 mr-4" name="lines" id="lines">
            <option value="all">Ligne (All)</option>
            {% for line in lines %}
            <option value="{{line}}" {% if ligne == line %} selected {% endif %}>{{line|upper}}</option>
            {% endfor %}
        </select>
        <select class="custom-select col-2 mr-4" name="prod" id="prod">
            <option value="all" {% if prod == 'all' %} selected {% endif %}>Produit (All)</option>
            <option value="Boite" {% if prod == 'Boite' %} selected {% endif %}>Boite</option>
            <option value="Accessoire" {% if prod == 'Accessoire' %} selected {% endif %}>Accessoire</option>
        </select>
        <button type="submit" id="submit-form" class="btn d-flex flex-row py-2 px-3 mr-3" style="color: white !important; background-color: #0e385b !important;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel-fill" viewBox="0 0 16 16">
                <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2z"/>
              </svg>
        </button>
    </form>
</div>

<div class="mb-4">
    <p class="h5">Résultats trouvés : {{count}}</p>
</div>

<div class="table-responsive">
    <table id="table-bag-cases" class="table table-hover" style="width: 100% !important;">
        <thead class="thead-dark">
          <tr>
            <th class="py-3" scope="col"><b class="h6">#</b></th>
            <th class="py-3" scope="col"><b class="h6">Date</b></th>
            <th class="py-3" scope="col"><b class="h6">Unité</b></th>
            <th class="py-3" scope="col"><b class="h6">Ligne</b></th>
            <th class="py-3" scope="col"><b class="h6">Brute (Jour)</b></th>
            <th class="py-3" scope="col"><b class="h6">Rebut (Jour)</b></th>
            <th class="py-3" scope="col"><b class="h6">PU - Coût de revient</b></th>
            <th class="py-3" scope="col"><b class="h6">Catégorie</b></th>
            <th class="py-3" scope="col"><b class="h6">Produit</b></th>
            <th class="py-3" scope="col"><b class="h6">Détails</b></th>
          </tr>
        </thead>
        <tbody id="tbody">
            {% for request in object_list %}
            <tr class="row_tab" style="border-bottom: 2px #d7d7d7 solid !important;">
                <th class="py-3" scope="row"><b class="h6 font-weight-bold" >{{ page_obj.start_index|add:forloop.counter0 }}</b></th>
                <td class="py-3" scope="row"><b class="h6 font-weight-bold" >{{ request.date|date:'d-m-Y' }}</b></td>
                <td class="py-3" scope="row"><b class="h6 font-weight-bold" >{{ request.unite }}</b></td>
                <td class="py-3" scope="row"><b class="h6 font-weight-bold" >
                    {% if request.ligne is not None %}
                    {{ request.ligne }}
                    {% else %}
                    -
                    {% endif %}
                </b></td>
                <td class="py-3" scope="row"><b class="h6 font-weight-bold" >{{ request.brute_jour }}</b></td>
                <td class="py-3" scope="row"><b class="h6 font-weight-bold" >{{ request.rebut_jour }}</b></td>
                <td class="py-3" scope="row"><b class="h6 font-weight-bold" >{{ request.pu_cout_revient|floatformat:"2" }} DZD</b></td>
                <td class="py-3" scope="row"><b class="h6 font-weight-bold" >{{ request.category }}</b></td>
                <td class="py-3" scope="row"><b class="h6 font-weight-bold" >{{ request.produit }}</b></td>
                <td class="py-3" scope="row"><b class="h6 font-weight-bold" >
                    <a href="{{request.get_absolute_url}}" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                        </svg>
                    </a>
                </b></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- PAGINATION -->
    <nav aria-label="Page navigation example mt-5">   
        <ul id="pagin" class="pagination pagination-lg justify-content-center mt-5">
            {% if page_obj.has_previous %}
            <li class="page-item">
            <a class="page-link" href="?page=1" aria-label="Previous">
                <span aria-hidden="true">PREVIOUS</span>
                <span class="sr-only">begin</span>
            </a>
            </li>   {% endif %}
            
            {% for n in page_obj.paginator.page_range %}
            {% if page_obj.number == n %}
                <li class="page-item active page-active">
                <span class="page-link" style="background-color: #0e385b !important;">{{ n }}<span class="sr-only">(current)</span></span>
                </li>
            {% elif n > page_obj.number|add:'-5' and n < page_obj.number|add:'5' %}
                <li class="page-item"><a class="page-link" href="?csrfmiddlewaretoken={{request.GET.csrfmiddlewaretoken}}&date={{request.GET.date}}&unit={{request.GET.unit}}&lines={{request.GET.lines}}&page={{n}}">{{ n }}</a></li>
            {% endif %}
            {% endfor %}
            
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?csrfmiddlewaretoken={{request.GET.csrfmiddlewaretoken}}&date={{request.GET.date}}&unit={{request.GET.unit}}&lines={{request.GET.lines}}&page={{ page_obj.paginator.num_pages }}" aria-label="Next">
                <span aria-hidden="true">NEXT</span>
                <span class="sr-only">end</span>
                </a>
            </li>
            {% endif %}   
        </ul>
    </nav>

</div>


{% endblock content %}